.section-one{
    height: 100vh;
    width: 100%;
}

.background--one{
    background-size: cover;
    background-attachment: fixed;
    background-position: initial;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .block-section--one{
        display: block;
        text-align: center;
        width: 100%;

        & h1{
            font-weight: 400;
            font-size: 22px;
            margin-bottom: 32px;
        }
    }
}



.background--two{
    background-size: cover;
    background-attachment: fixed;
    background-position: initial;
    height: 100%;
    display: flex;
    align-items: center;
    
    & .block-section-two{
        margin-top: 30px;
        display: block;
        text-align: center;
        width: 90%;
        height: 80%;
        justify-content: space-between;
        
        & .text-block-two{
            justify-content:flex-end;
            width: 10%;
            & img{
              margin: 90px 0px 0px 90px;
           } 
        }
    }
}

